*{
    margin: 0;
    padding: 0;
}

body{
    background: url(https://freewebsitetemplates.com/preview/gardenwalkthrough/images/bg-body.jpg);
    background-repeat: repeat;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #e6e7e9;
    border-bottom: 1px dashed grey;
    height: 2em;
    justify-content: space-between;
    padding-top: .8em;
    z-index: 2;
}

.header-div{
    justify-content: space-evenly;
    margin-right: 19em;
}

.header-div span{
    display: inline-block;
    margin: 0 .5em;
    color: rgba(128, 128, 128, 0.737);
    text-transform: uppercase;
    font-size: 11pt;
    font-weight: 500;
}

.header-div span:hover{
    color: rgba(46, 69, 46, 0.77);
}

header h1{
    font-family: 'Merriweather';
    text-transform: uppercase;
    font-size: 13pt;
    color: rgba(46, 69, 46, 0.77);
    margin-left: 19em;
    width: auto;
}

header h1:hover{
    color: rgb(20, 20, 20);
}

/* Repeated cursor pointer and display flex */
header h1:hover,
.page-nav ul li:hover,
.header-div span:hover,
.page-header img:hover,
.page-img-des h3,
.page-img-info div span h3:hover,
.garden-footer p:hover,
.about-body-content p span:hover a,
.plant-body-content p span:hover a{
    cursor: pointer;
}

header,
.header-div,
.page-header,
.page-nav ul,
.info-1,
.info-2,
.info-3,
.page-img-info,
.page-garden-container,
.garden-tips,
.garden-footer,
.plant-body{
    display: flex;
}
/* Repeated cursor pointer and display flex */

.page{
    background-color: #356618;
    height: max-content;
    width: auto;
    margin: 0 19.5em;
    padding: 0 1.5em;
}     

.page-header{
    background-color: #fff;
    height: 6em;
    width: auto;
    justify-content: center;
    align-items: center;
}

.page-header img{
    height: 3.8em;
    width: auto;
}

.page-nav{
    width: 100%;
    height: 2.6em;
    background-color: #777777e4;
}

.page-nav ul{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.page-nav ul li{
    list-style: none;
    padding: .5em 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
}

.page-nav ul li:hover,
.page-nav ul li:hover a{
    background-color: #f0f2c9;
    color: #356618;
}

.page-nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'poppins';
}

.page-img-content{
    width: auto;
    height: 26em;
    position: relative;
}

.page-img-content img{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.page-img-des{
    font-family: 'poppins';
    color: white;
    background: #25262494;
    padding: 1em;
    position: absolute;
    bottom: 0;
    height: max-content;
    width: auto;
}

.page-img-des h3{
    color: #e3e699;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500!important;
    font-size: 17pt;
    margin-bottom: .5em;
}

.page-img-des h3:hover{
    color: white;
}

.page-img-content .page-img-des a {
    color: inherit;
}

.arrow-icon{
    padding: .3em .38em;
    background-color: #798f92;
    border-radius: 50%;
    font-size: 10pt;
}

.arrow-icon:hover{
    background-color: rgb(251, 173, 30);
}

.page-img-info{
    width: auto;
    padding: 1em;
    flex-wrap: wrap;
    color: #fff;
    font-family: 'poppins';
    justify-content: space-evenly;
}

.page-img-info div{
    width: 13em;
    padding-left: 1.3em;
}

.info-1 img,
.info-2 img,
.info-3 img{
    height: 6em;
    width: auto;
    border: 1px solid white;
    margin-right: .9em;
}

.page-img-info div span{
    display: block;
}

.page-img-info div span h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500!important;
    font-size: 13pt;
    color: #e3e699;
    margin-bottom: .5em;
}

.page-img-info div span p{
    font-size: 9pt;
}

.page-img-info div:nth-child(2),
.page-img-info div:nth-child(3){
    border-left: .9px solid grey;
}

.page-garden{
    width: auto;
    height: max-content;
    background: rgba(255, 255, 255, 0.877);
    padding: 1em;
}

.page-garden h2,
.garden-tips-1 h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500!important;
    font-size: 14pt;
    display: block;
    background: #d4e2cb;
    padding: .5em;
    color: #836145;
    border-bottom: 2px solid #bbd1ae;
}

.page-garden-container{
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
}

.page-garden-container div{
    display: block;
    width: 10em;
}

.page-garden-container div img{
    height: 10em;
    width: auto;
}

.page-garden-container div h3{
    font-size: 13pt;
    font-weight: 400!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #836145;
}

.page-garden-container div p{
    font-family: 'poppins';
    font-size: 10pt;
}

hr{
    margin: 1.2em 0;
}

.garden-tips img{
    height: 14em;
    width: auto;
}

.garden-tips{
    width: auto;
    margin: 1em 0;
}

.garden-tips-1{
    display: block;
    width: 100%;
}

.garden-tips-1 h3{
    margin-left: .9em;
    margin-bottom: .7em;
}

.garden-tips-1 ol{
    margin-left: 2.2em;

}

.garden-tips-1 ol li{
    margin-bottom: .7em;
    font-size: 10pt;
    font-family: 'poppins';
    color: rgb(65, 65, 65);
}

.garden-footer{
    height: max-content;
    width: auto;
    background-color: #d4e2cb;
    padding: 1em;
    justify-content: space-evenly;
}

.garden-footer h3{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 13pt;
    margin-bottom: 1em;
    margin-left: 1em;
}

.garden-footer p{
    color: grey;
    font-family: 'poppins';
    font-size: 10pt;
    margin-left: 1em;
}

.garden-footer p:hover{
    color: black;
}

.garden-footer p i{
    margin-right: .5em;
    color: green;
    font-size: 12pt;
}

.garden-footer p:hover i{
    color: rgba(58, 137, 44, 0.817);
}

.garden-footer-1,
.garden-footer-2,
.garden-footer-3,
.garden-footer-4{
    padding: 0 0.3em;
}

.copyright{
    color: white;
    text-align: center;
    font-size: 10pt;
    padding: 1em;
    font-weight: 600;
}

.active {
    background: #b8cba9;
}

@media only screen and (max-width:1200px){
    .page{
        width: auto;
        margin: 0 0 2em;
        padding: 0 1.5em 2.5em;
    }
}
/* Page not found */
.page-not-found {
    justify-content: center;
    width: auto;
    margin: 3em 0;
    background: #fff;
    padding: 1em;
    height: max-content;
    font-family: 'poppins';
    text-align: center;
}
.page-not-found h1 {
    font-family: merriweather;
}
.page-not-found h1 span{
    font-family: 'Rubik Moonrocks', cursive;
    color: rgb(56, 20, 125);
    font-size: 29pt!important;
}
.page-not-found p {
    margin-top: 2em;
}
/* x - Page not found - x */

/* about.html styles & Plants styling */
.about-body-content,
.plant-body-content,
.contact-body-content {
    height: max-content;
    background: #fff;
    width: auto;
    padding: 2em 1em;
    font-family: poppins;
}
.about-body-content h1,
.plant-body-content h1,
.contact-body-content h1 {
    font-size: 15pt;
    font-weight: 600!important;
    color: grey;
    font-family: arial;
    margin-bottom: 1em;
}
.about-body-content h3,
.plant-body-head,
.contact-body-content form div label {
    color: #836145;
    font-size: 13pt;
    font-weight: 400!important;
}

.about-body-content p,
.plant-body-content p,
.contact-body-content p{
    font-size: 10pt;
    margin: 1.5em 0;
    line-height: 1.7;
}

.about-body-content p span a,
.plant-body-content p span a{
    text-decoration: underline;
    color: #356618;
}

.about-body-content p span:hover a,
.plant-body-content p span:hover a{
    color: #356618cc;
}

.plant-body-content h3{
    font-size: 13pt;
    color: #836145;
    font-weight: 600!important;
    font-family: 'arial';
}

.plant-body img{
    width: 19em;
    height: auto;
    margin: 1em 1em 1em 0em;
}

.plant-body-head{
    margin-top: 1em;
}

.no-line-height p{
    line-height: 1.5;
}

.contact-body-content form{
    display: flex;
    width: auto;
    justify-content: space-around;
}

.contact-body-content form div{
    display: flex;
    flex-direction: column;
}

.contact-body-content form div:nth-child(2){
    margin-left: 3.5em;
}

.contact-body-content form div label{
    text-transform: uppercase;
    margin: 7px 0;
    font-size: 11pt;
}

.contact-body-content form div:nth-child(2) input,
.contact-body-content form div:nth-child(2) textarea{
    background-color: #d4e2cb;
    border: none;
    margin: 9px 0;
    font-family: 'poppins';
    font-size: 10pt;
    width: 20em;
    color: gray;
}

.contact-body-content form div:nth-child(2) input{
    height: 1.8em;
}

/* x - about.html styles & Plants styling - x */




